body{
    font-family : "Google Sans";
    margin: 0;
}

#topNav{
    margin: 0;
    background-color: #f5f5f5;
    padding : 0 30px 0 30px;
    display : flex;
    justify-content: space-between;
}

#topNavLinks{
    font-size: 13px;
    font-weight: 500;
    display:flex;
    align-items: center;
}
#nikeLogo{
    width: 100px;
    height: 50px;
}

#navbar{
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 20px;
}

.navbarLink{
    padding-left: 10px;
    font-weight: 600;
}

#navbarMenu{
    display: flex;
    align-items: center;
}

#navbarSearch{
    width: 150px;
    padding: 5px;
    display: flex;
    align-items: center;
    color: rgb(64, 64, 64);
    background-color: rgb(206, 206, 206);
    border-radius: 20px;
}

#navbarRightMenu{
    display: flex;
    align-items: center;

}
.imgSet{
    display: flex;
}
.featureImg{
    width: 50%;
    height: 400px;
}

#featureDiv{
    padding-top: 100px;
    font-size: 25px;
    font-weight: 600;
}