body {
    font-family: "Google Sans";
    margin: 0;
    width: 100%;
}

.para {
    padding-top: 0;
    margin: 0;
}

#topNav {
    margin: 0;
    background-color: #f5f5f5;
    padding: 0 4rem 0 4rem;
    display: flex;
    justify-content: space-between;
    height: 1.5rem;
}

#topNavLinks {
    font-size: x-small;
    font-weight: 500;
    display: flex;
    align-items: center;
}

#nikeLogo {
    width: 6rem;
    height: 2rem;
}

.navbar {
    position: sticky;
    background-color: white;
    top: 0px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    height: 2rem;
    padding: 0 2rem;
}

.navbarLink {
    padding-left: 1rem;
    font-weight: 600;
    font-size: small;
}

#navbarMenu {
    display: flex;
    align-items: center;
}

#navbarSearch {
    font-size: smaller;
    width: 8rem;
    padding: 5px;
    display: flex;
    align-items: center;
    color: rgb(64, 64, 64);
    background-color: rgb(206, 206, 206);
    border-radius: 20px;
}

#navbarRightMenu {
    width: 12rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#newExpand {
    display: none;
    top: 2rem;
    left: 0;
    z-index: 500;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    background-color: white;
    padding: 0 10rem 0 8rem;
}


#menExpand {
    top: 2rem;
    left: 0;
    z-index: 500;
    display: none;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    background-color: white;
    padding: 0 6rem 0 4rem;
}

#womenExpand {
    top: 2rem;
    left: 0;
    z-index: 500;
    display: none;
    box-sizing: border-box;
    z-index: 500;
    width: 100%;
    position: absolute;
    background-color: white;
    padding: 0 6rem 0 4rem;
}

#kidsExpand {
    top: 2rem;
    left: 0;
    z-index: 500;
    display: none;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    background-color: white;
    padding: 0 6rem 0 4rem;
}

#saleExpand {
    top: 2rem;
    left: 0;
    z-index: 500;
    display: none;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    background-color: white;
    padding: 0 6rem 0 4rem;
}

#homeLanding {
    position: relative;
}

.homeLandingTextDiv {
    width: 100%;
    color: white;
    position: absolute;
    text-align: center;
    top: 16rem;
}

.homeLandingBtn {
    border-radius: 20px;
    border: 0;
    padding: 3px 10px;
    margin-top: 10px;
}

.imgSet {
    display: flex;
    position: relative;
}

.imgSetText {
    color: white;
    width: 100%;
    justify-content: space-evenly;
    position: absolute;
}

.imgSetLeft {
    top: 18rem;
    left: 2rem;
    font-size: small;
}

.imgSetRight {
    top: 18rem;
    left: 35rem;
    font-size: small;
}

.featureImg {
    width: 50%;
    height: 24rem;
}

#featureDiv {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: medium;
    font-weight: 600;
}

#newYearItems {
    display: flex;
    justify-content: space-between;
    padding:  0 4rem;
    font-size: small;
    font-weight: 500;
    box-sizing: border-box;
}

.newYearItemImg {
    height: 20rem;
    width: 18rem;
}

#sportItems {
    display: flex;
    padding: 0 4rem;
    justify-content: space-between;
}

.spotLightDiv {
    margin: 4rem 0 10rem 0;
}

.spotLightText {
    width: 100%;
    text-align: center;
    padding: 2rem 0;
}

.spotLightHeading {
    font-family: 'Anton';
    font-size: 60px;
    font-weight: 900;
    margin: 2rem 0 0 0;
}

.spotLightSubHeading {
    font-size: small;
}

.sportImg {
    height: 22rem;
    width: 18em;
    padding-bottom: 1rem;
}

.spotLightItemText {
    margin: 0;
}

.spotLightRow1 {
    display: flex;
    padding: 0 12rem 2rem 12rem;
    justify-content: space-between;
    font-size: x-small;
    text-align: center;
    font-weight: 800;
}

.spotLightItemImg {
    height: 4rem;
    width: 4rem;
}

.footerBand {
    display: flex;
    margin: 2rem 2rem;
    justify-content: space-between;
    font-size: x-small;
    color: gray;
}

.footerHeading {
    color: black;
    font-weight: 600;
}

.footerRibbon {
    display: flex;
    justify-content: space-between;
    padding: 0 20rem 0 4rem;
    font-size: x-small;
    font-weight: 600;
    color: gray;
    padding-bottom: 4rem;
}