body {
    font-family: "Google Sans";
    margin: 0;
    width: 100%;
}

.para {
    padding-top: 0;
    margin: 0;
}

#topNav {
    margin: 0;
    background-color: #f5f5f5;
    padding: 0 4rem 0 4rem;
    display: flex;
    justify-content: space-between;
    height: 2rem;
}

#topNavLinks {
    font-size: small;
    font-weight: 500;
    display: flex;
    align-items: center;
}

#nikeLogo {
    width: 6rem;
    height: 3rem;
}

.navbar {
    position: sticky;
    background-color: white;
    top: 0px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    height: 3rem;
    padding: 0 3rem;
}

.navbarLink {
    padding-left: 1rem;
    font-weight: 600;
    font-size: medium;
}

#navbarMenu {
    display: flex;
    align-items: center;
}

#navbarSearch {
    font-size: small;
    width: 10rem;
    padding: 5px;
    display: flex;
    align-items: center;
    color: rgb(64, 64, 64);
    background-color: rgb(206, 206, 206);
    border-radius: 20px;
}

#navbarRightMenu {
    width: 14rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#newExpand {
    display: none;
    top: 3rem;
    left: 0;
    z-index: 500;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    background-color: white;
    padding: 0 12rem 0 10rem;
}


#menExpand {
    top: 3rem;
    left: 0;
    z-index: 500;
    display: none;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    background-color: white;
    padding: 0 8rem 0 6rem;
}

#womenExpand {
    top: 3rem;
    left: 0;
    z-index: 500;
    display: none;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    background-color: white;
    padding: 0 8rem 0 6rem;
}

#kidsExpand {
    top: 3rem;
    left: 0;
    z-index: 500;
    display: none;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    background-color: white;
    padding: 0 8rem 0 6rem;
}

#saleExpand {
    top: 3rem;
    left: 0;
    z-index: 500;
    display: none;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    background-color: white;
    padding: 0 10rem 0 8rem;
}

#homeLanding {
    position: relative;
}

.homeLandingTextDiv {
    width: 100%;
    color: white;
    position: absolute;
    text-align: center;
    top: 22rem;
}

.homeLandingBtn {
    border-radius: 20px;
    border: 0;
    padding: 3px 10px;
    margin-top: 10px;
}

.imgSet {
    display: flex;
    position: relative;
}

.imgSetText {
    color: white;
    width: 100%;
    justify-content: space-evenly;
    position: absolute;
}

.imgSetLeft {
    top: 20rem;
    left: 4rem;
    font-size:larger;
}

.imgSetRight {
    top: 20rem;
    left: 46rem;
    font-size: larger;
}

.featureImg {
    width: 50%;
    height: 28rem;
}

#featureDiv {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: large;
    font-weight: 600;
}

#newYearItems {
    display: flex;
    justify-content: space-between;
    padding:  2rem 4rem;
    font-size: medium;
    font-weight: 500;
    box-sizing: border-box;
}

.newYearItemImg {
    height: 28rem;
    width: 25rem;
}

#sportItems {
    display: flex;
    padding: 0 4rem;
    justify-content: space-between;
}

.spotLightDiv {
    margin: 4rem 0 10rem 0;
}

.sportImg {
    height: 32rem;
    width: 25em;
    padding-bottom: 1rem;
}

.spotLightText {
    width: 100%;
    text-align: center;
    padding: 2rem 0;
}

.spotLightHeading {
    font-family: 'Anton';
    font-size: 80px;
    font-weight: 900;
    margin: 2rem 0 0 0;
}

.spotLightSubHeading {
    font-size: medium;
}


.spotLightItemText {
    margin: 0;
}

.spotLightRow1 {
    display: flex;
    padding: 0 15rem 2rem 15rem;
    justify-content: space-between;
    font-size: small;
    text-align: center;
    font-weight: 800;
}

.spotLightItemImg {
    height: 5rem;
    width: 5rem;
}

.footerBand {
    display: flex;
    margin: 2rem 2rem;
    justify-content: space-between;
    font-size: small;
    font-weight: 700;
    color: rgb(106, 106, 106);
}

.footerBandBot {
    display: flex;
    padding: 5rem 20rem 5rem 5rem;
    justify-content: space-between;
    font-size: small;
    font-weight: 700;
    color: rgb(106, 106, 106);
}

.indiaDiv{
    position: relative;
    left : 12rem;
    top: 0.5rem;
}

.footerHeading {
    color: black;
    font-weight: 600;
}

.footerRibbon {
    display: flex;
    justify-content: space-between;
    padding: 0 30rem 0 5rem;
    font-size: small;
    font-weight: 600;
    color: rgb(67, 67, 67);
    padding-bottom: 4rem;
}